<!doctype html>
<html>
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styling.css">

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="../static/js/jquery.fullPage.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>

    .disableScroll{
                overflow-y:hidden;
                overflow-x:hidden;
    }
    .chatbox,.type{
        width:350px;
        border:2px solid black;
        background-color: #d2d4d8;
      margin:0px;
    }
    #inp{
        width:280px;
        height:35px;
    }
    #user_inp{
        margin-top: 5px;
        margin-left:5px;
        width:150px;
        background-color:#e6eaf2;
        color:black;
        position: relative;
        float: right;
        border-radius: 10%;
        display:block;
        padding:10px;
    }
    #bot_inp{
        margin-top: 5px;
        margin-right:5px;
        width:150px;
        background-color: green;
        color:black;
        border-radius: 10%;
        display:block;
        background-color: #dee7f9;
        padding: 10px;
    }
    #cont{
        border-radius: 10%;
        margin:5px;
        min-height:50px;
    }
    </style>
    </head>
    <body>
        <script type=text/javascript>
          var scrolled=0;
            /*$(function() {
                    $('#plan1').bind('click', function() {
                            var index = $('.fp-section.active').index();
                            var slideIndex = $('.fp-section.active').find('.slide.active').index();
                            $.getJSON('/planit', {
                                data: ''+ (index*10+slideIndex)
                                }, function(data) {

                              var msgs=document.getElementById('msgs');
                              var bn,bs;
                              bn=data.bot_number;
                              bs=data.bot_string;

                               for(var i=0;i<bn;i++)
                                {
                                  var cont=document.createElement('div');
                                  cont.id="cont";
                                  var ele2=document.createElement('p');
                                  ele2.id="bot_inp";
                                  var text2=document.createTextNode(bs[i]);
                                  ele2.appendChild(text2);
                                  document.body.appendChild(ele2);
                                  cont.appendChild(ele2);
                                  document.body.appendChild(cont)
                                  msgs.appendChild(cont);
                                  // document.body.appendChild(cont);
                                  // cont.appendChild(ele2);
                                }
                                scrolled=scrolled+500;

                                $(".chatbox").animate({
                                    scrollTop:  scrolled
                                });
                        });
                    });
            });*/
            $(function() {
                    $('#fixedbutton').bind('click', function() {
                            var index = $('.fp-section.active').index();
                            var slideIndex = $('.fp-section.active').find('.slide.active').index();
                            $.getJSON('/stopcam', {
                                data: ''+ (index*10+slideIndex)
                            }, function(data) {
                        });
                    });
            });
            $(function() {
                    $('#plan').bind('click', function() {
                            $.getJSON('/todo', {
                                    data: '2'
                                    }, function(data) {
                            });
                            });
                            //window.location="https://localhost:5000/plan"
                    });

      $(function(){

      var inp= document.getElementById('inp');
      var send=document.getElementById('send_btn');
      var msgs=document.getElementById('msgs');
      // var bot=document.getElementById('bot');
        var text=inp.value;
        var bn,bs;
        bn={{bot_number|safe}};
        bs={{bot_string|safe}};



         for(var i=0;i<bn;i++)
          {
            var cont=document.createElement('div');
            cont.id="cont";
            var ele2=document.createElement('p');
            ele2.id="bot_inp";
            var text2=document.createTextNode(bs[i]);
            ele2.appendChild(text2);
            document.body.appendChild(ele2);
            cont.appendChild(ele2);
            document.body.appendChild(cont)
            msgs.appendChild(cont);
            // document.body.appendChild(cont);
            // cont.appendChild(ele2);
          }

        });
      $(function(){

        var bn,bs;
        $("#inp").keyup(function(event) {
              if (event.keyCode === 13) {
                  $("#send_btn").click();
              }
          });
        $('#send_btn').bind('click', function() {

          var cont=document.createElement('div');
          cont.id="cont";

          var ele=document.createElement('p');
          ele.id="user_inp";
          var text=document.createTextNode(inp.value);
          ele.appendChild(text);
          document.body.appendChild(ele);
          cont.appendChild(ele);
          document.body.appendChild(cont);
          msgs.appendChild(cont);
          // var scrolled=0;
            scrolled=scrolled+500;

            $(".chatbox").animate({
                scrollTop:  scrolled
            });


          $.getJSON('/sss', {
                      data: inp.value
                      }, function(data) {
                        bn=data.bot_number;
                        bs=data.bot_string;
                        console.log(bn);
                        for(var i=0;i<bn;i++)
                        {
                          var cont=document.createElement('div');
                          cont.id="cont";
                          var ele2=document.createElement('p');
                          ele2.id="bot_inp";
                          var text2=document.createTextNode(bs[i]);
                          ele2.appendChild(text2);
                          document.body.appendChild(ele2);
                          cont.appendChild(ele2);
                          document.body.appendChild(cont);
                          msgs.appendChild(cont);

                        }
                          scrolled=scrolled+500;

                          $(".chatbox").animate({
                              scrollTop:  scrolled
                          });
          });
          inp.value="";

      });

    });
    </script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
            <a class="navbar-brand" href="#">Course Decider</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                 <ul class="navbar-nav navbar-right mr-auto">
                     <li class="nav-item">
                         <!-- Trigger the modal with a button -->
                            <a class="btn btn-dark"  id="plan" href="/todo">Decide Courses</a>

                     </li>
                 </ul>
            </div>
        </nav>


    <div id="wrapper">

    <!-- Machine Learning Start -->
    <div class="section box1">
      <div class="slide">
                <!-- <img  src="https://www.google.co.in/search?tbs=sbi:AMhZZitDWk4AmGkdYiWRyF9NmBdF0NFiEjZBCycydwZ7MXf9rImUvSjIVBV8WwCUc5pjUnW7WhBNPW6SSJ81vBXxubXW9y6NZSECNDS9Jc-g2RplYOKBRxzRxoCsC52NqQ0rBfpK8sr5yHSFN4vIczepImVxHuyUAuuetbjOGgBYtx0KMLy3q5wY493u29htuOoNyQ966PuYnI4XFoeSf4sUcUGhKLAkP_1kCZK_1I3pQikKw5jqa5Wbiua9hNIw6tEbYOYXrKHrqNNzKhTHXf91NDwoByXQ03dbOpiIiM7P7U_1XnmdoAHurw-saPzrvB_1sASXzrc3xQirVem111432mpXuzZR6nh65A" alt="ML Courseera"> -->
                <img src="https://cdn-images-1.medium.com/max/1600/1*_eGKYpUT6dFjOPLHVLDsFw.png" alt="ML Corseera">
                <div >
                    <h3>Machine Learning Coursera</h3>
                    <!-- <p>Structure known as both Amer and Amber, with Hindu & Muslim elements & offering elephant rides.</p> -->
                    <p> Machine learning is the science of getting computers to act without being explicitly programmed. In the past decade, machine learning has given us self-driving cars, practical speech recognition, effective web search, and a vastly improved understanding of the human genome.</p>
                </div>
    </div>
        <div class="slide">
            <img  src="https://s-media-cache-ak0.pinimg.com/originals/94/4f/da/944fda9f622da27cc64ed390d9e94cc8.png" alt="ML Udacity">

                    <div>
                    <h3>Machne Learning, Udacity</h3>
                    <!-- <p>Opulent 18th-century palace of Maharaja Sawai Jai Singh II, now a museum & royal residence.</p> -->
                    <p>This class is offered as CS7641 at Georgia Tech where it is a part of the Online Masters Degree (OMS). Taking this course here will not earn credit towards the OMS degree.</p>
                        </div>
        </div>
        <div class="slide">
          <img  src="https://4.bp.blogspot.com/-qf3t5bKLvUE/WfwT-s2IHmI/AAAAAAAABJE/RTy60uoIDCoVYzaRd4GtxCeXrj1zAwVAQCLcBGAs/s640/Machine-Learning.png" alt="ML Udemy">
                <div >
                    <h3>Machine Learning Udemy</h3>
                    <!-- <p>Nahargarh Fort stands on the edge of the Aravalli Hills, overlooking the city of Jaipur in the Indian state of Rajasthan</p> -->
                    <p>A primer on Machine Learning for Data Science. Revealed for everyday people, by the Backyard Data Scientist.</p>
                </div>
        </div>
            <div class="slide">
             <img  src="https://www.class-central.com/report/app/uploads/2017/05/The-Best-Machine-Learning-Online-Courses.png" alt="ML Class Central">
             <div>
                 <h3>Machine Learning Class-Central</h3>
                 <!-- <p>Chokhi Dhani Group is synonymous with Rajasthani village themed hospitality since 1990.</p> -->
                 <p>The best online machine learning course is Stanford University’s Machine Learning. Taught by the famous Andrew Ng, Google Brain founder and former chief scientist at Baidu, it covers all aspects of the machine learning workflow and several algorithms. </p>
             </div>
         </div>
         <div class="slide">
            <img src="https://webview.edx.org/sites/default/files/course/image/promoted/new_machinelearning_image378x225.jpg" alt="ML edX">
            <div>
                <h3>Machine Learning edX</h3>
                <p>Machine Learning is a growing field that is used when searching the web, placing ads, credit scoring, stock trading and for many other applications.</p>
            </div>
        </div>
        <div class="slide">
         <img  src="https://i2.wp.com/discountonlinecoupon.com/wp-content/uploads/2018/02/1-1.png?w=1054&ssl=1" alt="ML a-z">
         <div >
             <h3>Machine Learning A-Z™: Hands-On Python & R In Data Science</h3>
             <p>Master Machine Learning on Python & R</p>
         </div>
     </div>
     <div class="slide">
        <img class="d-block" src="https://i.ytimg.com/vi/JQpWKGcDm70/maxresdefault.jpg" alt="ML Coding Blocks">

        <div>
            <h3>Machine Learning Coding Blocks</h3>
            <p>Machine learning is a field of study that helps machines to learn without being explicitly programmed.</p>
        </div>
        </div>
      </div>

    <!-- Machine Learning End -->

    <!-- Cyber Security Start -->
    <div class="section box2">
        <div class="slide">
            <img  src="https://d15cw65ipctsrr.cloudfront.net/77/150fa0bb5611e7b6dc996e5de3eb8b/IntroCyberSecurity_1500x430.jpg" alt="CS Coursera">
            <div >
                <h3>Introduction to Cyber Security Specialization, Coursera</h3>
                <p>Cyber Security. An introduction to modern information and system protection technology and methods.</p>
            </div>
         </div>
        <div class="slide">
                <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/0d/59fde0e47b11e5adba1dd0436e277d/mobility.jpg?auto=format%2Ccompress&dpr=1" alt="CS Coursera">

                <div>
                    <h3>Cybersecurity and Mobility</h3>
                    <p>This course is for you if you are interested in transitioning toward a managerial role in cybersecurity and mobility. Through interviews with industry experts in this area, you will be able to analyze innovations powering the rapid spread of information technology and how they present new challenges for protecting data. </p>
                    </div>
        </div>
        <div class="slide">
            <img src="https://blog.udacity.com/wp-content/uploads/2018/04/Udacity-Cybersecurity-Nanodegree-program.png" alt="CS Udacity">
            <div >
                <h3>Cybersecurity Nanodegree Udacity</h3>
                <p>Udacity is creating a world-class learning program focused on Cybersecurity. This program will help close one of the most urgent skills gaps in the world today.</p>
            </div>
        </div>
        <div class="slide">
         <img  src="https://udemy-images.udemy.com/course/750x422/875974_b66d_3.jpg" alt="CS Udemy">
         <div>
             <h3>The Complete Cyber Security Course : Network Security!</h3>
             <p>After this course, you will be able to discover security vulnerabilities across an entire network, by using network hacking techniques and vulnerability scanning.</p>
         </div>
     </div>
     <div class="slide">
        <img src="https://www.edx.org/sites/default/files/course/image/promoted/tbm_secon101x_course-image_378x225.jpg" alt="Cd edX">
        <div>
            <h3>Cyber Security Economics</h3>
            <p>This economics course provides an introduction to the field of cybersecurity through the lens of economic principles.  </p>
        </div>
    </div>
</div>


<!-- Cyber Security End -->

<!-- BioInformatics Start -->
<div class="section box3">

            <div class="slide">
                <img src="https://ucsdnews.ucsd.edu/news_uploads/Bioinformatics_WildWest-150817.jpg" alt="BI Coursera">
                <div >
                    <h3>Bioinformatics Specialization,Coursera</h3>
                    <p>How do we sequence and compare genomes? How do we identify the genetic basis for disease? How do we construct an evolutionary Tree of Life for all species on Earth?</p>
                </div>
             </div>
            <div class="slide">
                    <img src="https://www.edx.org/sites/default/files/course/image/promoted/bioinformatics3image_378x225.jpg" alt="BI edX">

                    <div>
                        <h3>Statistical Analysis in Bioinformatics</h3>
                        <p>Improvements in modern biology have led to a rapid increase in sensitivity and measurability in experiments and have reached the point where it is often impossible for a scientist alone to sort through the large volume of data that is collected from just one experiment. </p>
                        </div>
            </div>
            <div class="slide">
                <img src="http://4.bp.blogspot.com/-21V3FAz0POA/UjiBR_Dv-yI/AAAAAAAAUoM/gZOSHPuqGmY/s1600/tmp.jpg" alt="BI Udacity">
                <div >
                    <h3>Tales from the Genome Udacity</h3>
                    <p>This course is a journey into the biology of the human genome and will highlight the scientific, social, and personal perspectives of people living with a variety of traits.</p>
                </div>
            </div>
            <div class="slide">
             <img src="https://udemy-images.udemy.com/course/750x422/1389632_21f0_3.jpg" alt="BI Udemy">
             <div>
                 <h3>DNA Research using Biopython</h3>
                 <p>DNA Research using Biopython, An Introduction To Bioinformatics, is a crash hacker course that will teach you Hybrid Developer skills. You will use your existing OOPL development skills to fly through python code effortlessly.</p>
             </div>
         </div>
         <div class="slide">
            <img  src="https://udemy-images.udemy.com/course/750x422/1026188_d14f_2.jpg" alt="BI Udemy">
            <div>
                <h3>Learn Bioinformatics in 6 Days,Udemy</h3>
                <p>Integrate biological concepts with information technologies to study the biological system.</p>
            </div>
        </div>
    </div>

<!-- BioInformatics End -->

<!-- Cryptography Start -->
<div class="section box5">
    <div class="slide">
                <img  src="https://armacad.info/images/2015/04/Cryptography%20I-ejU3JdfSbc1PfYFx-95f1uTz67u5kFD1.png" alt="Crypto Coursera">
                <div >
                    <h3>Cryptography I</h3>
                    <p>Cryptography is an indispensable tool for protecting information in computer systems. In this course you will learn the inner workings of cryptographic systems and how to correctly use them in real-world applications.</p>
                </div>
             </div>
            <div class="slide">
                    <img src="http://picload.org/image/wdlpcpl/6.jpg" alt="Crypto Udacity">
                    <div>
                        <h3>Applied Cryptography Udacity</h3>
                        <p>Cryptography is present in everyday life, from paying with a credit card to using the telephone. Learn all about making and breaking puzzles in computing.</p>
                        </div>
            </div>
            <div class="slide">
                <img src="https://udemy-images.udemy.com/course/750x422/379644_4fdf_3.jpg" alt="Crypto Udemy">
                <div >
                    <h3>Mathematical Cryptography - Crack The Code</h3>
                    <p>Learn Every Cryptosystem Including RSA, AES and Even Elliptic Curve Cryptography, and See the Math that Secures Us.</p>
                </div>
            </div>
            <div class="slide">
             <img src="https://prod-discovery.edx-cdn.org/media/course/image/bb90d02a-a562-4632-a0af-e72987f27fea-081bda0d942b.small.jpg" alt="Crypto edX">
             <div>
                 <h3>Blockchain & Cryptography Courses edX</h3>
                 <p>The course is designed to help both technical and nontechnical audiences understand the key concepts behind hyperledger and blockchain, making clear the various enterprise applications. Learn about current hyperledger projects and business use cases and even get hands-on experience implementing basic blockchains.</p>
             </div>
         </div>
        </div>


<!-- CryptoGraphy End -->

<!-- Data structure & Algo Start -->
<div class="section box5">

        <div class="slide">
              <img  src="http://codedad.co.uk/wp-content/uploads/2018/02/coursera.png" alt="DSA Coursera">
            <div >
                <h3>Data Structures and Algorithms Specialization,Coursera</h3>
                <p>Master Algorithmic Programming Techniques. Learn algorithms through programming and advance your software engineering or data science career.</p>
            </div>
         </div>
        <div class="slide">
                <img class="d-block" src="https://s-media-cache-ak0.pinimg.com/originals/58/b0/e8/58b0e8139a868da283c5734774b3de46.png" alt="DSA Coursera">
                <div>
                    <h3>Algorithms, Part I</h3>
                    <p>This course covers the essential information that every serious programmer needs to know about algorithms and data structures, with emphasis on applications and scientific performance analysis of Java implementations. </p>
                    </div>
        </div>
        <div class="slide">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/23/a7/f7/23a7f74c05d762db7d180e8b2665aef0.png" alt="DSA COursera">
            <div >
                <h3>Algorithms, Part II</h3>
                <p> This course covers the essential information that every serious programmer needs to know about algorithms and data structures, with emphasis on applications and scientific performance analysis of Java implementations.</p>
            </div>
        </div>
        <div class="slide">
         <img src="http://codedad.co.uk/wp-content/uploads/2018/02/Udacity.png" alt="DSA Udacity">
         <div>
             <h3>Intro to Algorithms</h3>
             <p>Ever played the Kevin Bacon game? This class will show you how it works by giving you an introduction to the design and analysis of algorithms, enabling you to discover how individuals are connected.</p>
         </div>
     </div>
     <div class="slide">
        <img src="https://udemy-images.udemy.com/course/750x422/446074_35c6_5.jpg" alt="DSA Udemy">
        <div>
            <h3>Learning Data Structures and Algorithms,Udemy </h3>
            <p>In this Learning Data Structures and Algorithms training course, expert author Rod Stephens will teach you how to analyze and implement common algorithms used. This course is designed for the absolute beginner, meaning no previous programming experience is required.</p>
        </div>
    </div>
    </div>
    <!-- Data Structures & Algorithms End -->
</div>
    <div class ="iconclass"><a data-toggle="modal" data-target="#myModal" id="fixedbutton"><i class="fas fa-info-circle" id="icon"></i></a></div>
        <div class="box4">
            <!-- Modal -->
      <div class="modal" id="myModal" role="dialog">
         <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content" >
             <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <!-- <h4 class="modal-title">Quick Enquiry</h4> -->
            </div>
            <div class="modal-body">
              <!-- <iframe
                width="280"
                height="400"
                src="https://console.dialogflow.com/api-client/demo/embedded/58f8771d-b8f7-4803-b028-a83da6252f63">
              </iframe> -->
              <div class="chatbox" style="overflow:auto;height:400px;">
                  <div id="msgs">
                  </div>
                </div>
                <div class="type">
                  <input type="text" name="inp" id="inp" placeholder="Ask something..." style="color:#888;" ></input>
                <span><button class="btn btn-success" id="send_btn">Send</button></span>
                </div>

              </div>
             <div class="modal-footer">
                             <div id="foot"></div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
                </div>
      </div>
        </div>

    <script>

        function startthread(){
            console.log("yes");
                    $.getJSON('/strtcam', {
                                data: ''
                            }, function(data) {
                        });

        }
        $(document).ready(function(){

            $('#wrapper').fullpage();
            // var planitibtn=document.getElementById('plan');
            // var foot=document.getElementById('foot');
            // var fixedbtn=document.getElementById('fixedbutton');
            // planitibtn.onclick=function(){
            //     var str=`<a class="btn btn-dark" id="plan1" href='/plan'>Plan Itinerary</a>`;
            //
            //         foot.innerHTML=str;
            // };
            // fixedbtn.onclick=function(){
            //     var str=`<button type="button" class="btn btn-default" onclick=startthread(this) data-dismiss="modal">Close</button>`;
            //     foot.innerHTML=str;
            // };
        });

    </script>

    </body>
    </html>
